.profile {
  padding: 20px;
  border-radius: 10px;
  border: solid 3px #359567;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .detail {
    padding: 0 50px;
    // background-color: red;
    .row {
      padding: 20px 0;
      display: flex;
      gap: 20px;

      label,
      span {
        font-size: 25px;
      }
      label {
        width: 200px;
      }
    }
  }
  .mt {
    margin-top: 40px;
  }
}
