.user img{
    width: 100%;
}

.user{
    padding: 10px;
    border: 1px solid lightgray;
    cursor: pointer;
    border-radius: 5px;
}

.user span{
    text-align: center;
    display: block;
}

.user.active{
    border-color: #359567;
    border-width: 2px;
}

.tag{
    /* background-color: red; */
    width: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

.content{
    font-size: 20px;
}

.request-detail p{
    padding: 10px 10px;
}

.request-detail li{
    padding: 0 20px;
    margin-left: 100px;
}

.request-detail .staff{
    display: flex;
}
.request-detail .staff p{
    width: 50%;
}

tr,td,th{
    padding: 5px 10px;
    text-align: left;
    font-weight: normal;
}